/* === Content Showcase Styling === */
.card-custom {
  background-color: rgba(30, 30, 30, 0.9);
  /* border: 1px solid #aaa; */
  box-shadow: 0 0 1px rgba(180, 0, 255, 0.3);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.75rem;
  transition: transform 0.2s ease;
}
.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(220, 0, 255, 0.5);
}
.section-title {
  color: #e0b3ff;
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
  font-variant-caps: all-petite-caps;
}
.card-custom p,
.card-custom h3,
.card-custom span {
  color: #f0f0f0;
}
